body
{
    background-color: #1b6272;
    width: 100%;
}
.header img
{
    float: left;
    width: 200px;
    height: 125px;
    background: #9bccdb;
    padding-left: 75px;
    padding-top: 15px;
    vertical-align: middle;
    horizontal-align: middle;
}
header a
{
    text-decoration: none;
    text-color: black;
}
.header h1
{
    font-family: Arial Black;
    font-size: 125px;
    background-color: #9bccdb;
    font-color: #FFFFFF;
    text-align: center;
    margin-bottom: 0;
}
h2
{
    font-size: 50px;
}
h3
{
    font-size: 25px;
}
.right
{
    font-style: helvetica;
    background-color: #daeef2;
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    height: 800px;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.right1
{
    font-style: helvetica;
    background-color: #daeef2;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;

}
.mem
{
    text-align: left;
    line-height: 25px;
}
nav
{
    fixed-position: top:100px;
    float: left;
    width: 20%;
    background-color: #9bccdb;
    height: 850px;

}
#wrapper
{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    position:relative;
    height: 100%;
}
ul.nav
{
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 143px;
    height: 100%;
}
nav a{
    text-decoration: none;
    padding: 15px;
    display: block;
    border-bottom: 1px solid white;
}
main
{
    margin-left: 165px;
    overflow: auto;
}
.footer
{
    background-color: #daeef2;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    padding-bottom: 0px;
    position: absolute;
    bottom: 0;
    padding-left: 600px;
}
.rightp
{
    float: right;
    padding-right: 50px;
    padding-bottom: 10px;
}
.rightl
{
    float: left;
    align: left;

}
a
{
    color:black
}
.right5
{
    font-style: arial;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}
.rightabout
{
    align: center;
}
.rightp1
{
    float:left;
    padding-right: 450px;
}
.columnleft
{
    float:left;
    width: 45%;
    padding-left: 20px;
}
.columnright
{
    float:right;
    width: 45%;
    padding-right: 20px;

}